.main-container {
  background-color: #9796f0;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff30;
  width: 100%;
  padding: 1%;
}

.score-para  {
  width: 15%;
  align-self: flex-end;
}

.score-para > p {
  color: #ffffff;
  font-size: 1vw;
  margin-right: 10%;
  font-weight: bold;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 80%;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

ul li {
  float: left;
  width: 20%;
  padding: 4%;
  background-color: #ffffff30;
  border-radius: 20px;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow:
    0px 0px 2px #96e5f0,
    -0px -0px 2px #96e5f0;
}

ul li img {
  width: 50%;
}

ul li button {
  background-color: transparent;
  border: none;
}

.logo-card {
  display: flex;
  width: 50%;
}

.logo-card > h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 1vw;
  margin-left: 0.5%;
  align-self: center;
}

.displayUlElement {
  display: none;
}

.score-para {
  display: flex;
}
